# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
venv311/

# Environment variables
.env

# Asset and cache folders
assets/
*.log

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# IDE
.idea/
*.swp
*.swo 